{% extends "base.html" %}
{% load staticfiles i18n %}
{% include "django/forms/widgets/input.html" %}

{% block content %}
<main>
			<section class="one">
				<div class="container mb-4">
					<header>
						<h2 id="o_nas">O NAS</h2>
						<p style="font-size:20px">Energiczni oraz pełni pasji członkowie koła, nastawieni na rozwój swoich umiejętności, zainteresowań, entuzjaści nowych rozwiązań i technologii, nastawieni na realizację wielu ciekawych pomysłów</p>
						<hr>
					</header>
				</div>
				<div class="container">
					<div class="row justify-content-center">
						{% if  boss %}
						{% for img in boss %}
						<div class="col-sm-6 col-md-3 col-xl-2">
							<figure>

								<div class="photo-zoom photo"><a href="{% url 'person' pk=img.pk %}"><img src="/media/{{ img.zdj }}" class="img-fluid photo" alt="image"></a></div>
								<figcaption>{{ img.imie }} {{ img.nazwisko }}</figcaption>

							</figure>
						</div>
						{% endfor %}
						{% endif %}

					</div>
					<div class="collapse dont-collapse-md" id="lista">
						{% if  user %}
						<div class="row justify-content-center">
							{% for img in users %}
							<div class="col-sm-6 col-md-3 col-xl-2">
								<figure>
									<div class="photo-zoom photo"><a href="{% url 'person' pk=img.pk %}"><img src="/media/{{ img.zdj }}" class="img-fluid photo" alt="image"></a></div>
									<figcaption>{{ img.imie }} {{ img.nazwisko }}</figcaption>
								</figure>
							</div>
							{% endfor %}

						</div>
					</div>
						{% endif%}
					<button class="btn btn-primary dont-collapse-btn-md mb-3" id='lista1' type="button" data-toggle="collapse" data-target="#lista" aria-expanded="false" aria-controls="lista">Pokaż więcej</button>
				</div>
			</section>
			<!--
			<section class="two">
				<div class="container">
					<header>
						<h2 id="nasze_projekty">NASZE PROJEKTY</h2>+
					</header>
				</div>
			</section>
			<section class="one">
				<div class="container">
					<header>
						<h2 id="wspolpraca">WSPÓŁPRACA</h2>+
					</header>
				</div>
			</section>
			-->
			<form>
			{% if email %}
			{% csrf_token %}
			{{ email.non_field_errors }}
			<section class="two">
				<div class="container">

					<h2 id="kontakt">KONTAKT</h2>
					<div class="row pb-3 pt-3">
						<div class="col-md-9 mb-md-0 mb-5">
							<form>
								<!--<div class="row">
									<div class="col-md-6">
										<div class="md-form mb-0">
											<input type="text" id="contact-name" class="form-control" aria-label="Imię" placeholder="Imię">

											{{ email.imie }}
											<label for="contact-name" class="">Imię</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="md-form mb-0">
											<input type="text" id="contact-surname" class="form-control" aria-label="Nazwisko" placeholder="Nazwisko">
											{{ email.nazwisko }}
											<label for="contact-surname" class="">Nazwisko</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="md-form mb-0">
											<input type="text" id="contact-email" class="form-control" aria-label="Email" placeholder="Email">
											{{ email.email }}
											<label for="contact-email" class="">Email</label>
										</div>
									</div>
								</div>-->
								<div class="row">
									<div class="col-md-12">
										<div class="md-form">
											<!--<textarea id="contact-message" class="form-control md-textarea" rows="3" aria-label="Treść Wiadomości" placeholder="Treść Wiadomości"></textarea>-->
											{{ email.temat }}
											<label for="contact-subject">Temat </label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="md-form">
											<!--<textarea id="contact-message" class="form-control md-textarea" rows="3" aria-label="Treść Wiadomości" placeholder="Treść Wiadomości"></textarea>-->
											{{ email.tekst }}
											<label for="contact-message">Treść Wiadomości</label>
										</div>
									</div>
								</div>
							</form>
							<div class="text-center text-md-left">
								<input class="btn btn-outline-primary btn-md btn-block" type="submit" value="Wyślij">
							</div>
						</div>
						<div class="col-md-3 text-center">
							<ul class="list-unstyled mb-0">
								<li>
									<i class="material-icons">place</i>
									<p>Koszalin, Politechnika Koszalinska </p>
								</li>
								<li>
									<i class="material-icons">call</i>
									<p>+ 01 234 567 89</p>
								</li>
								<li>
									<i class="material-icons">email</i>
									<p class="mb-0">contact@example.com</p>
								</li>
							</ul>
						</div>
					</div>
					<hr>
					<h3 class="social-media"><a href="https://www.facebook.com/PKWEiI.NET/">Polub nas na Facebooku <i class="fab fa-facebook-square"></i></a></h3>
				</div>
			</section>
			{% endif %}
			</form>
</main>
{% endblock %}
