{% extends "base.html" %}
{% load staticfiles i18n %}
{% block bootstrap4_before_content %}
{% endblock %}
{% block content %}
		{% if  object %}

		<nav class="navbar navbar-dark bg-menu" style="margin-top: -24px;">
			<a class="navbar-brand" href="#">
					<img src="{% static 'img/logo.png' %}" class="d-inline-block" height="40" alt="">
			</a>
			<a class="btn btn-primary ml-auto" href="{% url 'index' %}" role="button">Powrót</a>
		</nav>
		<section class="one" style="color:white;">
			<div class="container">
				<div class="row justify-content-center pt-3">
					<div class="col-sm-6 col-md-4">
						<figure>
							<div class="photo"><img src="/media/{{ object.zdj }}" class="img-fluid photo" alt="image"></div>
							<figcaption class="pt-3">{{ object.imie }}</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="container">
				<header>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Gravida dictum fusce ut placerat orci nulla pellentesque. Consequat interdum varius sit amet mattis vulputate enim. Nisl rhoncus mattis rhoncus urna. Arcu cursus vitae congue mauris rhoncus aenean vel elit. Nec ullamcorper sit amet risus nullam eget felis eget. Tortor posuere ac ut consequat semper viverra. Ornare lectus sit amet est placerat in egestas. At risus viverra adipiscing at in. Tempus quam pellentesque nec nam aliquam sem et tortor consequat.</p>
				</header>
			</div>

			<div class="container">
				<h2 id="kontakt">LINKI</h2>
				<div class="row justify-content-center mb-3">
					<ul class="list-unstyled mb-0" style="width:100%;">
						<li class="m-3">										
							<a class="social-media-link-a" href="{{ object.git_hub }}"><div class="social-media-link"><i class="fab fa-github"></i> GitHub</div></a>
						</li>
						<li class="m-3">
							<a class="social-media-link-a" href="{{ object.linkedin }}"><div class="social-media-link"><i class="fab fa-linkedin"></i> Linkedin</div></a>
						</li>
						<li class="m-3">
							<a class="social-media-link-a" href="{{ object.facebook }}"><div class="social-media-link"><i class="fab fa-facebook-square"></i> Facebook</div></a>
						</li>
					</ul>
				</div>

			</div>

		</section>
		{% endif %}
			<!-- 333333333333333333333333333333333333333333333333333333333 -->

{% endblock %}

