body{
	margin: 0px;
	background-color: #252526;
}

.first{
	background-color: #2d2d30;
	height: 100vh;
}
.parallax-window {
    min-height: 100vh;
    background: transparent;
	position:relative;
	margin-top: -24px;
}
h1{
	color: white !important;
}

.absolute{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.first-title{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.bg-menu{
	background-color: rgba(45, 45, 48, 0.8) !important;
}

.navbar-nav{
	text-align: center;
}

.nav-animation{
	position: relative;
}

.nav-animation:before, .nav-animation:after{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: -19px;
    transition: all 0.4s;
}

.nav-animation:before{
    content: '(';
    left: -17px;
    transform: translateX(10px);
}

.nav-animation:after{
    content: ')';
    right: -17px;
    transform: translateX(-10px);
}

.nav-link:hover > .nav-animation:before, .nav-link:hover > .nav-animation:after{
    opacity: 1;
    transform: translateX(0px);
	color: #7dc4e4;
}

.nav-link{
	transition: 0.3s;	
}

.nav-link:hover{
	color: #7dc4e4 !important;
}

h2{
	margin-bottom: 20px;
	margin-top: 20px;
	color: white;
	background-color: #007acc;
	border-radius: 50px;
}

.one{
	text-align: center;
	padding-top:1px;
}

.two{
	text-align: center;
	background-color:#2d2d30;
	padding-top:1px;
}

.photo{
	border-radius: 50%;
}

main{
	color:white;
}

footer{
	background-color: #2d2d30;
	border-top: 2px solid #3f3f46;
}

#scrollToTop
{
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: white;
	display: none;
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.social-media{
	margin: 0;
	padding-bottom: 20px;
}

.social-media a{
	text-decoration: none;
	color: white;
	transition: all 0.3s;
}

.social-media a:hover{
	color: #1877f2;
}

.footer-copyright{
	color: white !important;
}

.photo-zoom{
	overflow: hidden;
	width: 100%;
}

.photo-zoom img{
	transition: all 0.3s;
}

.photo-zoom:hover img {
	transform: scale(1.1);
}

.social-media-link{
	width: 100%;
	height: auto;
	background-color: transparent;
	border-radius: 10px;
	font-size: 25px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #6D6D6D;
	transition: all 0.3s;
}

.social-media-link-a{
	text-decoration: none;
	color: white;
}

.social-media-link-a:hover{
	text-decoration: none;
	color: white;
}

.social-media-link-a:hover > .social-media-link{
	border: 1px solid #6D6D6D;
	background-color: #6D6D6D;
}

hr{
	border-top: 2px solid #3f3f46;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  .dont-collapse-btn-md {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
	.social-media{
		font-size: 1.25rem !important;
	}
	.title1{
		font-size: 3.5rem !important;
	}
	.title2{
		font-size: 1.5rem !important;
	}
}
